
<!-- FOOTER START -->
<footer>
  <!--MAP-->
  <div class="col-12 col-sm-6 offset-sm-3 ">
    <iframe title="Localização do IME-USP via Google Maps" class="maps-google d-xl-flex" frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEsbBjboQzORZ2YGR6E2bbAezZePedofg&amp;q=IMEUSP&amp;zoom=13"></iframe>
  </div>
  
  <div class="row d-block d-sm-flex">
    <div class="col-12 col-sm-4 offset-sm-2 text-center text-md-center text-lg-center rodape-coluna">
      <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center rodape-titulo"><strong>Nosso
          grupo</strong></div>
      <ul class="list-unstyled text-center text-sm-center text-md-center text-lg-center text-xl-center">
        <li><a class="rodape-link" href="/Quem somos">Quem somos</a></li>
        <li><a class="rodape-link" href="/Projetos">Projetos</a></li>
        <li><a class="rodape-link" href="/Contato">Contato</a></li>
        <li><a class="rodape-link" href="/Participe">Participe</a></li>
      </ul>
    </div>
    <div class="col-12 col-sm-4 text-center text-md-center text-lg-center rodape-coluna">
      <div class="text-center text-sm-center text-md-center text-lg-center text-xl-center rodape-titulo">
        <strong>Parceiros</strong>
      </div>
      <ul class="list-unstyled text-center text-sm-center text-md-center text-lg-center text-xl-center">
        <li><a class="rodape-link" href="https://efestus.icmc.usp.br/" target="_blank" rel="noopener">Efestus</a></li>
        <!--<li><a class="rodape-link" href="https://tecna.ime.usp.br/" target="_blank" rel="noopener">TECNA</a></li>-->
        <li><a class="rodape-link" href="https://techshift.org" target="_blank" rel="noopener">TechShift</a></li>
        <li><a class="rodape-link" href="https://www.ime.usp.br" target="_blank" rel="noopener">IME-USP</a></li>
        <li><a class="rodape-link" href="https://www5.usp.br" target="_blank" rel="noopener">USP</a></li>
      </ul>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col">
      <p class="text-center copyright" style="font-weight: 300;">
        <br>
        <!--MEDIA ICONS 2-->
        <span class="media-icons-2">
          <a href="https://twitter.com/tecsusp/" target="_blank" rel="noopener">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="mailto:tecs@ime.usp.br">
            <i class="fa fa-envelope"></i>
          </a>
          <a href="https://t.me/tecsusp" target="_blank" rel="noopener">
            <i class="fa fa-telegram"></i>
          </a>
          <a href="https://pt-br.facebook.com/tecs.usp/" target="_blank" rel="noopener">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/tecs.usp/?hl=pt-br" target="_blank" rel="noopener">
            <i class="fa fa-instagram"></i>
          </a>
        </span>
        <br>
      </p>
      <div class="fique-em-casa text-center">
        <span class="fique-em-casa-normal">… ah, e </span>
        <span class="fique-em-casa-destaque">#FiqueEmCasa</span>
        <span class="fique-em-casa-normal">se puder </span>
        <i class="fa fa-heart-o"></i>
      </div>
      <div class="text-center" style="padding-top: 1rem;padding-bottom: 2rem;">
        <img src="https://tecs.ime.usp.br/assets/img/Logos/tecs3.svg" style="max-width: 7rem;opacity: 1;filter: invert(100%);"
          alt="TECS com Comput{ação social} escrito ao lado">
      </div>
    </div>
    <!--col-->
  </div>
  <!--row d-flex-->
</footer>
<!-- FOOTER END -->
