<!-- NAVBAR START -->
<nav> 
	<!-- Probably kill this <nav> and add the proper role to the <div> below 
	instead of having a redundant <nav> element-->
	<div id="navbar-total" class="secondary-blue-bg position-fixed w-100" style="z-index: 10;">
		<nav class="navbar navbar-light navbar-expand-lg nav-coll pt-3 text-uppercase secondary-font">
			<div class="container-fluid">
				<!--
						md breakpoint: show 5 icons instead of 3.
						lg breakpoint: expand navbar.
				-->


				<!-- 
						Collapse toggle

						Only shows for screens smaller than the expand breakpoint.
						This will toggle all elements selected by data-target.
						aria-expanded="false": Indicates that the collapsible element is closed by default.
						aria-controls="navcol-1": Indicates the id of the collapsible element.
				-->
				<button 
						data-toggle="collapse" 
						class="navbar-toggler menu-colapsado col-1" 
						data-target=".multi-collapse"
						aria-expanded="false"
						aria-controls="navcol-1"
						style="padding-right: 8px;padding-left: 8px;">
					<span 
								class="navbar-toggler-icon"
								style="filter: brightness(123%) contrast(200%) hue-rotate(270deg) invert(100%) saturate(114%) sepia(100%);"></span>
				</button>

				<!-- 
						Home button 

						To show this element by default but hide it when we toggle the navbar, 
						we use the .collapse.show class.
				-->
				<a class="collapse show multi-collapse navbar-collapse navbar-brand ml-lg-0 col-2" href="/" id="tecs-logo">
					<img 
							src="https://tecs.ime.usp.br/assets/img/Logos/tecs-grafo-branco.png"
							alt="Logo branco do Tecs (o mapa do Brasil desenhado como um grafo)."
							style="width: 49px;">
					<img 
							id="logo-principal" 
							src="https://tecs.ime.usp.br/assets/img/Logos/tecs4.png"
							alt="Tecs (escrito em caixa alta, na cor branca)">
				</a>

				<!-- Main links -->
				<div class="collapse multi-collapse navbar-collapse col-12 col-lg-6" id="navcol-1">
					<div class="navbar-nav d-lg-flex offset-1 col-10">
						<a class="nav-link d-inline-block" href="/quem-somos/">Quem somos</a>
						<!-- 
							Dropdown menu item 
							The outer href is a fallback and will hopefully be overwritten by JS.
						-->
						<div class="nav-item dropdown d-inline-block">
							<a 
								class="nav-link dropdown-toggle" 
								href="/projetos/" 
								data-toggle="dropdown"
								id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
								Projetos
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/projetos/">Todos</a>
								<a class="dropdown-item" href="/projetos/Disciplinas/">Disciplinas</a>
								<a class="dropdown-item" href="/projetos/FCASA/">GT FCASA</a>
								<a class="dropdown-item" href="/projetos/PI/">Portal Indígena</a>
								<a class="dropdown-item" href="/projetos/Vestibulandas/">Vestibulandas</a>
							</div>
						</div>

						<a class="nav-link d-inline-block" href="/contato/">Contato</a>
						<a class="nav-link d-inline-block" href="/participe/">Participe</a>
					</div>
				</div>

				<!-- 
						Social media icons
						Before the md breakpoint, only shows 3 icons.
				-->
				<span class="collapse show multi-collapse navbar-collapse media-icons-1 col-1 offset-2" id="navbar-icones-total">
					<a class="d-none d-md-inline-block" href="https://twitter.com/tecsusp/" target="_blank" rel="noopener">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="mailto:tecs@ime.usp.br">
						<i class="fa fa-envelope"></i>
					</a>
					<a href="https://t.me/tecsusp" target="_blank" rel="noopener">
						<i class="fa fa-telegram"></i>
					</a>
					<a href="https://pt-br.facebook.com/tecs.usp/" target="_blank" rel="noopener">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="d-none d-md-inline-block" href="https://www.instagram.com/tecs.usp/?hl=pt-br" target="_blank" rel="noopener">
						<i class="fa fa-instagram"></i>
					</a>
				</span>
			</div> <!-- .container-fluid -->
		</nav>
	</div> <!-- #navbar-total -->
	
	<!-- FIXME: I think we can swap this for margin/padding on <body>. -->
	<div class="pseudo-background"></div>
	<!-- pro fundo não ficar branco; também é padding -->

	<script src="/assets/js/navbar-autohide.js"></script>
</nav>
<!-- NAVBAR END -->
