<nav> 
	<!-- Probably kill this <nav> and add the proper role to the <div> below 
	instead of having a redundant <nav> element-->
	<div id="navbar-total" class="secondary-blue-bg position-fixed w-100" style="z-index: 10;">
		<nav class="navbar navbar-light navbar-expand-md nav-coll pt-3 text-uppercase secondary-font">
			<div class="container-fluid">
				<button 
						data-toggle="collapse" 
						class="navbar-toggler menu-colapsado" 
						data-target="#navcol-1"
						style="padding-right: 8px;padding-left: 8px;">
					<span 
								class="navbar-toggler-icon"
								style="filter: brightness(123%) contrast(200%) hue-rotate(270deg) invert(100%) saturate(114%) sepia(100%);"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img 
							src="https://tecs.ime.usp.br/assets/img/Logos/tecs-grafo-branco.png"
							alt="Logo branco do Tecs (o mapa do Brasil desenhado como um grafo)."
							style="width: 49px;">
					<img 
							id="logo-principal" 
							src="https://tecs.ime.usp.br/assets/img/Logos/tecs4.png"
							alt="Tecs (escrito em caixa alta, na cor branca)">
				</a>
				<div class="collapse navbar-collapse row" id="navcol-1">
					<!-- role="presentation" means to ignore semantic meaning of all (non-focusable) child elements.-->
					<ul class="nav navbar-nav ml-auto d-md-none d-lg-flex" role="presentation" style="min-width: max-content;">
						<li class="nav-item">
							<a class="nav-link d-inline-block" href="/inscricao-meninas-2021/">Curso para Meninas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-inline-block" href="/quem-somos/">Quem somos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-inline-block" href="/projetos/">Projetos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-inline-block" href="/contato/">Contato</a>
						</li>
						<li class="nav-item">
							<a class="nav-link d-inline-block" href="/participe/">Participe</a>
						</li>
					</ul>
				</div>

				<span class="media-icons-1 row">
					<!--MEDIA ICONS-->
					<a class="collapse navbar-collapse" href="https://twitter.com/tecsusp/" target="_blank" rel="noopener">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="mailto:tecs@ime.usp.br">
						<i class="fa fa-envelope"></i>
					</a>
					<a href="https://t.me/tecsusp" target="_blank" rel="noopener">
						<i class="fa fa-telegram"></i>
					</a>
					<a href="https://pt-br.facebook.com/tecs.usp/" target="_blank" rel="noopener">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="collapse navbar-collapse" href="https://www.instagram.com/tecs.usp/?hl=pt-br" target="_blank"
						rel="noopener">
						<i class="fa fa-instagram"></i>
					</a>
				</span>
			</div>
			<!--container-fluid-->
		</nav>
	</div>
	<!--#navbar-total.secondary-blue-bg-->
	<div class="pseudo-background"></div>
	<!--pro fundo não ficar branco; também é padding-->

	<!-- NOTE: This might break if it's loaded too soon? It was at the end of the document before but idk if that matters. -->
	<script src="/assets/js/navbar-autohide.js"></script>
</nav>