.text-thing h1 {
	font-weight: 600;
	font-size: 3.3rem;
	white-space: pre-line; /* GT\nPortal Indígena*/
}

.text-thing h6.after-title {
	font-style: italic;
	white-space: pre-line;
}

.text-thing h2 {
	font-weight: 400;
	margin-top: 2rem;
}

img.image-thing1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
	width: 100%;
	max-width: 700px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*style="display:block;margin-left:auto;margin-right:auto;margin-top: 2rem;margin-bottom: 2rem;width: 100%;max-width: 700px;"*/