/*Não sei se "projects" é a melhor tradução. Pensem aí.*/

div.card-thing-animated {
  position: relative;
  display: flex;
  overflow: hidden; /* don't show scrollbars if something goes off-screen*/
}

div.card-thing-animated div.card-thing-description {
  position: absolute;
  right: -130px;
  opacity: 0.3;
  transition: opacity,right 0.8s; /*hover off*/
  background: rgba(100, 196, 210); /*#64c4d2;*/
  background: rgba(100, 196, 210, 0.5); /*opacity*/
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
  max-width: 210px;
  height: 400px;
}

/*https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition*/

div.card-thing-animated div.card-thing-description:hover {
  right: 0px;
  opacity: 1;
  transition: opacity,right 0.8s;
}

img.card-thing-img {
  object-fit: cover;
  max-height: 400px;
  width: auto;
}

@media (min-width: 990px) {
  .text-thing {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

/* mobile */
@media (max-width: 450px) {
  .text-thing {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    /*color: crimson; for testing purposes*/
  }
}

